@using PlaceDiary.Models;

<h1>Place Diary</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have no items in your to do list!</p>
}
@if(Model.Count != 0)
{
  @foreach (Place place in Model)
  {
    <li>@place.GetCityName() @place.GetDescription()</li>
  }
}
<a href="/new">Go back and add more places.</a>